---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Us">
  <h1>About us</h1>
  <p>
  Amicbridge — The Bridge Between You and Opportunity

At Amicbridge, we don’t handle your money — we empower you with knowledge.
Our role is simple: we connect investors with assets that show real potential for growth in the coming weeks and months.

You stay in control of your investments. We provide the trusted insight you need to make confident decisions.
By analyzing emerging trends, studying performance data, and filtering out the noise, we help you discover assets that can truly grow your wealth — safely, responsibly, and intelligently.     
  </p>
  <p>

  </p> 
</Layout>
