---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact us">
  <h1>Contact Information</h1>
  <p>You can reach us through the following ways:</p>
  <ul>
    <li>whatsapp: +47 92928373</li>
    <li>Phone: +47 92928373</li>
    <li>Address: Oslo, Norway</li>
    <li>Name: robert</li>
  </ul>
</Layout>
