---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
On Amicbridge you can find investment in diffrent asset crypto, Software, Ai and more.
Trusted Insights for Smart Investors and buyers. 
Amicbridge doesn’t take your money — we empower you to grow.


`;
---

<Layout title="Wecome to Amicbridge.">
    <ContextAlert class="mb-8" /> Welcome to Amicbridge.com where technology meets creatiy.
    <h1 class="mb-10">Building Digital Connections With Amicbridge</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>
        
